/* Color Theme Swatches in Hex */
.My-Color-Blind-Safe-Theme-1-hex { color: #B8DB70; } /* RNA (Other) */
.My-Color-Blind-Safe-Theme-2-hex { color: #0062BC; } /* dsDNA (large) */
.My-Color-Blind-Safe-Theme-3-hex { color: #873A0E; } /* dsDNA (medium) */
.My-Color-Blind-Safe-Theme-4-hex { color: #DC94B2; } /* dsDNA (small) */
.My-Color-Blind-Safe-Theme-5-hex { color: #515685; } /* ssDNA */
.My-Color-Blind-Safe-Theme-6-hex { color: #00A353; } /* ssRNA(+) */
.My-Color-Blind-Safe-Theme-7-hex { color: #C700B2; } /* ssRNA(-) */

/* Color Theme Swatches in RGBA */
.My-Color-Blind-Safe-Theme-1-rgba { color: rgba(184, 219, 112, 1); }
.My-Color-Blind-Safe-Theme-2-rgba { color: rgba(0, 98, 188, 1); }
.My-Color-Blind-Safe-Theme-3-rgba { color: rgba(135, 58, 14, 1); }
.My-Color-Blind-Safe-Theme-4-rgba { color: rgba(220, 148, 178, 1); }
.My-Color-Blind-Safe-Theme-5-rgba { color: rgba(81, 86, 133, 1); }
.My-Color-Blind-Safe-Theme-6-rgba { color: rgba(0, 163, 83, 1); }
.My-Color-Blind-Safe-Theme-7-rgba { color: rgba(199, 0, 178, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Blind-Safe-Theme-1-hsla { color: hsla(79, 59, 64, 1); }
.My-Color-Blind-Safe-Theme-2-hsla { color: hsla(208, 100, 36, 1); }
.My-Color-Blind-Safe-Theme-3-hsla { color: hsla(21, 81, 29, 1); }
.My-Color-Blind-Safe-Theme-4-hsla { color: hsla(335, 50, 72, 1); }
.My-Color-Blind-Safe-Theme-5-hsla { color: hsla(234, 24, 41, 1); }
.My-Color-Blind-Safe-Theme-6-hsla { color: hsla(150, 100, 31, 1); }
.My-Color-Blind-Safe-Theme-7-hsla { color: hsla(306, 100, 39, 1); }
